body {
    font-family: Arial, Verdana, Sans-Serif;
    background-color: lightgray;
    margin: 0; /* for it to be at the top of the page */
}

#wrapper { 
    background-color: lightgray;
    width: 80%;
    margin: auto;
    min-width: 900px;
} 