body {
    font-family: Arial, Verdana, Sans-Serif;
    background-color: #EBEBEB;
    margin: 0; /* for it to be at the top of the page */
}

#wrapper { 
    background-color: #EBEBEB;
    width: 80%;
    margin: auto;
    min-width: 900px;
}

header {
	background-color: black;
	height: 70px;
}

header img {
	max-height: 70px;
	padding-left: 20px;
}

nav {
    background-color: white;
    height: 60px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

nav li {
    float: left;
    width: 25%;
}

nav li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #C3C1C1;
    padding: 10px;
    font-size: 12px;
}

nav li a span {
	color: black;
	font-size: 16px;
}

nav li a:hover {
    text-decoration: none;
}

.currentTab {
	color: #CC0000;
}

nav ul li ul {
    background-color: white;
    visibility: hidden;
  opacity: 0;
  min-width: 16.6%;
    position: absolute;
  transition: all 0.5s ease;
  margin-top: 0;
    left: 0;
  display: none;
}

nav ul li:hover > ul,
nav ul li:focus-within > ul, /* this is the line we add */
nav ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

nav ul li ul li {
    clear: both;
  width: 100%;
  height: 25px;
}

/* =============== THREE CONTENT COLUMN ===============*/

#col_1 {
    float: left;
    /*background-color: khaki;*/
    width: 30%;
}

#col_2 {
    float: left;
    /*background-color: orange;*/
    width: 70%;
}

#content-div {
	overflow: hidden;
    background-color: white;
    margin: auto;
    margin-top: 8px;
    width:98%;
    display: flex;
}

#conv-table {
	display: none;
}

#agg-table {
	display: none;
}

table {
  
  border: 1px solid #666666;
  width:80%;
  border-spacing:0;
  margin: auto;
}
table td,th {
  padding:5px;
  font-family:times new roman;
  border-style:none;
  text-align: center;
}
table caption {
  font-family:verdana;
  font-weight:bold;
  font-size:1.2em;
  padding-bottom:5px;
}
table tr:first-of-type {
  background-color: #CC0000 !important;
  color:white;
}

  /* ============== BAR CHART ================*/

  *, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
   }
  
  body {
    background: #999;
  }
  
  h2 {
    margin: 0 0 20px 0;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #999;
    font-family: sans-serif;
    font-weight: normal;
    color: #333;
  }
  
  .container {
    width: 500px;
    margin: 20px;
    background: #fff;
    /*padding: 20px;*/
    overflow: hidden;
    float: left;
  }
  
  .horizontal .progress-bar {
    float: left;
    height: 45px;
    width: 100%;
    padding: 12px 0;
    background: #fff
  }
  
  .horizontal .progress-track {
    position: relative;
    width: 100%;
    height: 20px;
    background: #ebebeb;
  }
  
  .horizontal .progress-fill {
    position: relative;
    background: #666;
    height: 20px;
    width: 30%;
    color: #fff;
    text-align: center;
    font-family: "Lato","Verdana",sans-serif;
    font-size: 12px;
    line-height: 20px;
  }
  
  .rounded .progress-track,
  .rounded .progress-fill {
    border-radius: 3px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
  }

  #ER {
      display: block ;
  }